<% title "News Items" %>

<%= render 'stats', :scores => @scores unless @scores.empty? %>

<table>
  <tr>
    <th>Score</th>
    <th>Title</th>
    <th>Url</th>
  </tr>
  <% for news_item in @news_items %>
    <tr>
    <td><%= news_item.score %></td>
    <td><%= news_item.title %></td>
    <td><%= link_to news_item.url.truncate(50), news_item.url, :target => "new" %></td>
    <td><%= link_to "Show", news_item %></td>
    <td><%= link_to "Edit", edit_news_item_path(news_item) %></td>
    <td><%= link_to "Destroy", news_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "New News Item", new_news_item_path %></p>
<p><%= link_to "Lookup from HackerNews", fetch_news_items_path %></p>
<p><%= link_to "Destroy all", destroy_all_news_items_path, :confirm => 'Are you REALLY sure?', :method => :delete %></p>

<%= form_tag send_top_links_path do %>
  <%= label_tag :recipient, "Enter email:" %>
  <%= text_field_tag :recipient %>
  <%= submit_tag "Send top links" %>
<% end %>
