<% title "News Item" %>

<p>
  <strong>Score:</strong>
  <%= @news_item.score %>
</p>
<p>
  <strong>Title:</strong>
  <%= @news_item.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @news_item.url %>
</p>
<p>
  <strong>Original id:</strong>
  <%= @news_item.original_id %>
</p>

<p>
  <%= link_to "Edit", edit_news_item_path(@news_item) %> |
  <%= link_to "Destroy", @news_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", news_items_path %>
</p>
